<%- include("../../partials/header") %>
<main class="content">
  <div class="container-fluid p-0">

    <h1 class="h3 mb-3">All Students & Aspirants</h1>

    <div class="row">
      <div class="col-12 col-xl-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Striped Rows</h5>
          </div>
          <div class="card-body">
            <table id="example" class="datatable" style="width:100%">
              <thead>
                <tr>
                  <th>Full Name</th>
                  <th>User Type</th>
                  <th>Reg/Exam Number</th>
                  <th>Subject</th>
                  <th>Term</th>
                  <th>Correct</th>
                  <th>Total</th>
                  <th>Score %</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</main>

<script src="/DataTables/datatables.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    new DataTable('#example', {
      serverSide: true,
      ajax: '/api/get-cbt-results',
      columns: [{
          data: 'fullName',
          render: (data, type, row) => {
            return data ? `<a href="/dashboard/${row.userType.toLowerCase()}/${row.id}">${data}</a>` : 'No Name';
          }
        },
        {
          data: 'userType'
        },
        {
          data: 'registrationNumber',
          title: 'Reg/Exam Number'
        },
        {
          data: 'subject'
        },
        {
          data: 'term'
        },
        {
          data: 'correctCount'
        },
        {
          data: 'totalQuestions'
        },
        {
          data: 'scorePercentage'
        }
      ]
    });
  });
</script>

<%- include("../../partials/footer") %>